@import 'base/buttons';
@import 'base/forms';
@import 'base/modal';

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.size {
  width: 1200px;
  max-width: 90%;
}

.margin {
  margin: 0 auto;
}

.item {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.item-border {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
}

.full-width {
  width: 100%;
}

.relative {
  position: relative;
}

.content {
  min-height: calc(100vh - 125px);
}

.result {
  background: #f5f5f5;
}

.list-style-none {
  list-style: none
}

.text-left {
  text-align: left;
}
